<%
	local util = require "luci.util"
	local fs = require "nixio.fs"
	local sys = require "luci.sys"
	local http = require "luci.http"
	local dispatcher = require "luci.dispatcher"
	local uci = require "luci.model.uci".cursor()

	local devv = tostring(uci:get("sms_tool", "general", "device"))

	local sms = tostring(luci.sys.exec("sms_tool -d " .. devv .. " -f '%d-%m-%Y %H:%M' -j recv"))

	local statusb = luci.util.exec("sms_tool -s SM -d ".. devv .. " status")
	local all = string.sub (statusb, -3)
	local usex = string.sub (statusb, 23, 27)
	local use = string.match(usex, '%d+')
	local location = ""
	local l = string.sub (statusb, 15, 16)
	if l == "SM" then
      		location = translate("SIM Card")
 	end

-%>

<%+header%>

<style>

table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

</style>

<script type="text/javascript">//<![CDATA[


	window.onload = function readSMS() {
	
  	var table = document.getElementById("smsTable");

	select = document.getElementById('smsnumber');

	var useDiv = document.getElementById("usse");
  	useDiv.innerHTML = <%=use%> + " / " + <%=all%>;

			
			var obj = <%=sms%>;
			var data = JSON.stringify(obj);
			var json = JSON.parse(data);

			var x = <%=all%>;
			for(var d=0;d<=x;d++)
				{

  					var row = table.insertRow(-1);
  					var cell1 = row.insertCell(0);
  					var cell2 = row.insertCell(0);
  					var cell3 = row.insertCell(0);
  					var cell4 = row.insertCell(0);
    					cell1.innerHTML = json.msg[d].content;
  					cell2.innerHTML = json.msg[d].timestamp;
 				 	cell3.innerHTML = json.msg[d].sender;
 					cell4.innerHTML = json.msg[d].index;
    			   		var opt = document.createElement('option');
    					opt.value = opt.text = json.msg[d].index;
    					opt.innerHTML = json.msg[d].index;
    					select.appendChild(opt);
				}
	
	}




	function deleteone(btn)
	{
		var e = document.getElementById("smsnumber");
		var smsindex = e.options[e.selectedIndex].value;
	if (confirm("<%:Delete selected message?%>")) {


		XHR.get('<%=luci.dispatcher.build_url("admin", "modem", "sms", "delete_one")%>/' + smsindex, null,

			function()
			{
			window.location.reload();
			}
		);

		return false;
		}
	}

	function deleteall(btn)
	{
	if (confirm("<%:Delete all the messages?%>")) {

		XHR.get('<%=luci.dispatcher.build_url("admin", "modem", "sms", "delete_all")%>/' , null,

			function()
			{
			window.location.reload();
			}
		);

		return false;
		}
	}

//]]></script>


<h2><%:SMS Messages%></h2>
	<label><%:Web UI for handling messages via sms_tool.%></label>
	<p></p>

	<h4><%:Received Messages%></h4>
	<div class="table" width="100%">
	<div class="tr"><div class="td left" width="33%"><%:Messages store in%>:</div><div class="td left"><%=location%></div></div>
	<div class="tr"><div class="td left" width="33%"><%:Messages (Inbox / Maximum)%>:</div><div class="td left" id="usse"></div></div>
	</div>

	<table id="smsTable" width="100%" class="table">
  	<tr class="tr cbi-rowstyle-2">
    	<td class="td left" width="5%"><%:MSG%></td>
    	<td class="td left" width="15%"><%:From%></td>
    	<td class="td left" width="20%"><%:Received%></td>
    	<td class="td center" width="60%"><%:Message%></td>
 	</tr>
	</table>

	<div class="table" width="100%" >
	<div class="tr cbi-rowstyle-1">
	<div class="td left" style="width:10%;">

		<select id="smsnumber">
		</select>
	</div>

	<div class="td left" style="width:50%;">
	 <input type="button" id="delbtn" class="cbi-button" value="<%:Delete Selected%>" onclick="deleteone(this)" />

	</div>

	<div class="td right" style="width:30%;">

	 <input type="button" id="delabtn" class="cbi-button" value="<%:Delete All%>" onclick="deleteall(this)" />
	</div>	

	</div></div>



<%+footer%>

